$roboto: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$text-small: 15px;
$text-medium: 20px;
$text-big: 30px;

// COLORS
$color-white:  white;


//WIDTH
$width-default: 100%;

//BORDER
$border-radius-default: 4px;

//COLORS
$bg-color-green:#146614;
$bg-color-gray: #b1b1b1;
$bg-color-darkblue: #1a1824;

