.container-header{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 50px;
  width: 100%;
}

.container-header> div > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


#bedu-logo {
    width: 50px;
  }