@import "../variables/variables";
@import "../resets/resets";


@function getSize($size){
    @return map-get($global-sizes, $size);
}

$global-sizes:(
    "small": 15px,
    "medium": 20px,
    "big": 30px,
    "huge": 50px,
);


@mixin flex($j-c:center) {
    display: flex;
    justify-content: $j-c;
    align-items: center;
}

body {
    font-family: $roboto;
    height: 90vh;
}

  #home-cover{
    background-image: url("/assets/images/img_cover_home.jpg");
    width: $width-default;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: $color-white;
}


  
  .text-shadow{
    text-shadow: 1px 1px 4px rgb(58, 58, 58);
  }
  
  .title-font{
    font-size: getSize(medium);
  }
  
  .subtitle-font{
    font-size: $text-medium;
  }
  
  .searchbar{
    background-color: white;
    padding-left: 20px;
    padding: 3px;
    width: 500px;
    @include flex(space-between);
    box-shadow: 10px 10px 18px rgb(58, 58, 58);
    border-radius: $border-radius-default;
  }
  
  .searchbar > input {
    width: $width-default;
    padding: 0;
    margin: 0;
    font-size: $text-small;
    border: none;
    height: 45px;
  }
  
  .search-buttom{
    height: 45px;
    width: 45px;
    background-color: $bg-color-darkblue;
    color: $color-white;
    border-radius: $border-radius-default;
  }
  
  /*Reusable margins for website*/
  
  .marging-bottom-sm{
    margin-bottom: 15px;
  }
  
  .marging-bottom-md{
    margin-bottom: 30px;
  }
  .searchbar:hover{
    background-color: $bg-color-green;
  }
  .searchbar>button:focus{
      background-color: $bg-color-gray;
  }

